.clear {
    background: none;
}

.primary {
    padding: 4px 8px;
    border: 1px solid var(--inverted-bg-color);
    border-radius: 8px;
    color: var(--primary-color);
    background: var(--bg-color);
    transition: color 0.3s, background 0.3s;

    &:hover {
        color: var(--inverted-color);
        background: var(--inverted-bg-color);
    }
}

.primary-inverted {
    padding: 4px 8px;
    border: 1px solid var(--bg-color);
    border-radius: 8px;
    color: var(--inverted-color);
    background: var(--inverted-bg-color);
    transition: color 0.3s, background 0.3s;

    &:hover {
        color: var(--primary-color);
        background: var(--bg-color);
    }
}
