.icon {
    width: 30px;
    height: 30px;
    color: var(--bg-color);
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link {
    opacity: 1;
    width: fit-content;
    transition: opacity 0.3s, width 0.3s;
}

.collapsed {
    .link {
        opacity: 0;
        width: 0;
    }
}
