@import "../variables/global";

.app-black-theme {
    --bg-color: #fbf4f4;
    --primary-color: #000;
    --secondary-color: #fbf4f4;
    --inverted-color: #fbf4f4;
    --inverted-color-hover: #000;
}
