@import "../variables/global";

.app-dark-theme {
    --bg-color: #{$dark};
    --primary-color: #{$white};
    --secondary-color: #{$light-grey};
    --inverted-color: #{$dark};
    --inverted-color-hover: #3c81dc;
}
