@import "../variables/global";

:root {
    --bg-color: #{$light-grey};
    --primary-color: #{$dark};
    --secondary-color: #{$grey};
    --inverted-color: #{$white};
    --inverted-color-hover: #9fb5d1;
}
