@import "../variables/global";

.app.light {
    --bg-color: #{$light-grey};
    --inverted-bg-color: #{$dark};
    --primary-color: #{$dark};
    --inverted-color: #{$white};
    --secondary-color: #{$grey};
    --inverted-color-hover: #9fb5d1;
}
