.Navbar {
    position: relative;
    z-index: var(--z-index-navbar);
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    padding: 20px;
    background: var(--inverted-bg-color);
    box-shadow: 0 14px 18px 0 rgb(34 60 80 / 20%);
}

.NavBlock {
    display: flex;
    gap: 15px;
    align-items: center;
    width: fit-content;
    margin-left: auto;
}
